<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <div class="task_panel">
    <h3><%= task.id %>:
      <a href="/tasks/<%= task.id %>"><%= task.title %></a>
      <a href="/tasks/<%= task.id %>/edit">Edit</a>
      <form action="/tasks/<%= task.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    </h3>
  </div>
<% end %>
